@tailwind base
@tailwind components
@tailwind utilities

@font-face
  font-family: 'TCCC-UnityHeadline Bold'
  src: url('/fonts/a3fd7039bc65684a34371b2002a7711e.eot')
  src: url('/fonts/a3fd7039bc65684a34371b2002a7711e.eot?#iefix') format('embedded-opentype'), url('/fonts/a3fd7039bc65684a34371b2002a7711e.woff') format('woff'), url('/fonts/a3fd7039bc65684a34371b2002a7711e.woff2') format('woff2'), url('/fonts/a3fd7039bc65684a34371b2002a7711e.ttf') format('truetype'), url('/fonts/a3fd7039bc65684a34371b2002a7711e.svg#TCCC-UnityHeadline Bold') format('svg')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "TCCC-UnityHeadline Light"
  src: url("/fonts/a9ba87e28be39ce9b7efe3318d842d8e.eot")
  src: url("/fonts/a9ba87e28be39ce9b7efe3318d842d8e.eot?#iefix") format("embedded-opentype"), url("/fonts/a9ba87e28be39ce9b7efe3318d842d8e.woff") format("woff"), url("/fonts/a9ba87e28be39ce9b7efe3318d842d8e.woff2") format("woff2"), url("/fonts/a9ba87e28be39ce9b7efe3318d842d8e.ttf") format("truetype"), url("/fonts/a9ba87e28be39ce9b7efe3318d842d8e.svg#TCCC-UnityHeadline Light") format("svg")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "TCCC-UnityHeadline Medium"
  src: url("/fonts/3dfa8a14753fb0757210638348c262f2.eot")
  src: url("/fonts/3dfa8a14753fb0757210638348c262f2.eot?#iefix") format("embedded-opentype"), url("/fonts/3dfa8a14753fb0757210638348c262f2.woff")format("woff"), url("/fonts/3dfa8a14753fb0757210638348c262f2.woff2")format("woff2"), url("/fonts/3dfa8a14753fb0757210638348c262f2.ttf")format("truetype"), url("/fonts/3dfa8a14753fb0757210638348c262f2.svg#TCCC-UnityHeadline Medium")format("svg")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "TCCC-UnityHeadline Regular"
  src: url("/fonts/2def107af3e4eeb88b5ca50c3320ae0a.eot")
  src: url("/fonts/2def107af3e4eeb88b5ca50c3320ae0a.eot?#iefix") format("embedded-opentype"), url("/fonts/2def107af3e4eeb88b5ca50c3320ae0a.woff")format("woff"), url("/fonts/2def107af3e4eeb88b5ca50c3320ae0a.woff2")format("woff2"), url("/fonts/2def107af3e4eeb88b5ca50c3320ae0a.ttf")format("truetype"), url("/fonts/2def107af3e4eeb88b5ca50c3320ae0a.svg#TCCC-UnityHeadline Regular") format("svg")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "TCCC-UnityHeadline Black"
  src: url("/fonts/15fed3ecf145be6d4f6caaa6361dccdd.eot") 
  src: url("/fonts/15fed3ecf145be6d4f6caaa6361dccdd.eot?#iefix") format("embedded-opentype"), url("/fonts/15fed3ecf145be6d4f6caaa6361dccdd.woff")format("woff"), url("/fonts/15fed3ecf145be6d4f6caaa6361dccdd.woff2")format("woff2"), url("/fonts/15fed3ecf145be6d4f6caaa6361dccdd.ttf")format("truetype"), url("/fonts/15fed3ecf145be6d4f6caaa6361dccdd.svg#TCCC-UnityHeadline Black")format("svg")
  font-weight: normal
  font-style: normal
  font-display: swap

body
  font-family: "TCCC-UnityHeadline Regular"

.font-bold
  font-family: "TCCC-UnityHeadline Bold"

.font-light
  font-family: "TCCC-UnityHeadline Light"

.font-medium
  font-family: "TCCC-UnityHeadline Medium"

.font-regular
  font-family: "TCCC-UnityHeadline Regular"

.font-black
  font-family: "TCCC-UnityHeadline Black"

